
<main  class="authpages loginpage" *ngIf="!click&&screenWidth>575">
<div class="container">
<div class="form-box">
<div class="title">GiftToGo</div>
<span >Enter your account and claim the gift</span>

 <form action="#" >
  <div class="form-group icon-left">
    <div class="icon"><img class="w-100" src="https://foodtogodeliveryph.com/booking/assets/images/icon-mail-grey.png" alt=""/></div>
    <input type="email" class="form-control"  placeholder="Email" id="email" [(ngModel)]="email" [ngModelOptions]="{standalone: true}">

  </div>


  <button type="submit" class="btn btn-primary"  (click)="claimgift()">Claim Gift</button>

</form>


</div>
</div>
<br>

</main>

<main  class="authpages loginpage2" *ngIf="click&&screenWidth>575">
  <div class="container">
  <div class="form-box">





  </div>
  </div>
  <br>
  <div class="row">&nbsp;</div>
  <div class="row">&nbsp;</div>
  <div class="row">&nbsp;</div>
  <div class="row">&nbsp;</div>
  <div class="row">&nbsp;</div><div class="row">&nbsp;</div>
  <div class="row" style="height: 30px;">&nbsp;</div>
  <div class="row">
    <div style="align-self: center;text-align: center;margin-left: 50px;">
      <a style="align-self: center;text-align: center;" href="https://play.google.com/store/apps/details?id=com.foodtogo.user" target="_blank" class="widthmore"><img class="w-20" src="https://foodtogodeliveryph.com/booking/assets/images/google_en.png" alt="google"/></a>
      <a style="align-self: center;text-align: center;" href="https://apps.apple.com/us/app/foodtogo-food-delivery/id1543932581" target="_blank"><img class="w-20" src="https://foodtogodeliveryph.com/booking/assets/images/app_en.png" alt="appstore"/></a>
    </div>
  </div>
  </main>

  <main  class="authpages loginpage3" *ngIf="!click&&screenWidth<=575">
    <div class="container">
    <div class="form-box">

    <div class="title">GiftToGo</div>
    <span >Enter your account and claim the gift</span>

     <form action="#" >
      <div class="form-group icon-left">
        <div class="icon"><img class="w-100" src="https://foodtogodeliveryph.com/booking/assets/images/icon-mail-grey.png" alt=""/></div>
        <input type="email" class="form-control" style="width: 60%;"  placeholder="Email" id="email" [(ngModel)]="email" [ngModelOptions]="{standalone: true}">

      </div>


      <button type="submit" class="btn btn-primary"  (click)="claimgift()">Claim Gift</button>

    </form>


    </div>
    </div>
    <br>

    </main>

    <main  class="authpages loginpage4" *ngIf="click&&screenWidth<=575">
      <div class="container">
      <div class="form-box">





      </div>
      </div>
      <br>
      <div class="row">&nbsp;</div>
      <div class="row">&nbsp;</div>
      <div class="row">&nbsp;</div>
      <div class="row">&nbsp;</div>
      <div class="row">&nbsp;</div>
      <div class="row">&nbsp;</div>
      <div class="row">&nbsp;</div>
      <div class="row">&nbsp;</div><div class="row">&nbsp;</div>
      <div class="row" style="height: 30px;">&nbsp;</div>
      <div class="row">
        <div style="align-self: center;text-align: center;margin-left: 50px;">
          <a style="align-self: center;text-align: center;" href="https://play.google.com/store/apps/details?id=com.foodtogo.user" target="_blank" class="widthmore"><img class="w-20" style="width: 150px;" src="https://foodtogodeliveryph.com/booking/assets/images/google_en.png" alt="google"/></a>
          <a style="align-self: center;text-align: center;" href="https://apps.apple.com/us/app/foodtogo-food-delivery/id1543932581" target="_blank"><img class="w-20"  style="width: 150px;" src="https://foodtogodeliveryph.com/booking/assets/images/app_en.png" alt="appstore"/></a>
        </div>
      </div>
      </main>


