.loginpage
{
	background:url(http://foodtogodeliveryph.com/public/images/adsbanner/banner2.png);
	background-size:cover;
	background-position:center center;
	background-repeat:no-repeat;
	padding-top:400px;
	padding-bottom:120px;
  height: 100%;

}
.loginpage2
{
	background:url(http://foodtogodeliveryph.com/public/images/adsbanner/banner4.png);
	background-size:cover;
	background-position:center center;
	background-repeat:no-repeat;
	padding-top:400px;
	padding-bottom:120px;
  height: 100%;

}
.loginpage3
{
	background:url(http://foodtogodeliveryph.com/public/images/adsbanner/mobbanner1.png);
	background-size:cover;
	background-position:center center;
	background-repeat:no-repeat;
	padding-top:400px;
	padding-bottom:120px;
  height: 100%;

}

.loginpage4
{
	background:url(http://foodtogodeliveryph.com/public/images/adsbanner/mobbanner2.png);
	background-size:cover;
	background-position:center center;
	background-repeat:no-repeat;
	padding-top:400px;
	padding-bottom:120px;
  height: 100%;

}

