<main>
  <div>
    <img src="https://foodtogodeliveryph.com/booking/assets/images/header2.png" style="width: 100%;" alt="green dot">
  </div>
  <div>

  </div>
  <div class="product-list-box">
    <div class="container">

      <div class="row">
        <div class="col-12 col-lg-8 col-xl-8">
          <div class="bold-title">Booking</div>
          <div class="checkout-process">
            <form>
              <ul>
                <li>
                  <div class="process-icon"><img src="https://foodtogodeliveryph.com/booking/assets/images/padeliver.png?height=91&width=100"
                      alt="payment" class="w-100 active-hide" />

                  </div>
                  <div class="top">
                    <span class="name">Service</span>
                    <span class="subname">Select booking type</span>

                  </div>
                  <div class="bottom" style="cursor: pointer;" (click)="openPaymentModal()">

                    <div class="payment-box">
                      <div class="row">
                        <div class="col-8 col-md-8 col-sm-8">
                          <button id="openModalPayment" [hidden]="true" data-toggle="modal"
                            data-target="#addcard"></button>
                          <span class="txt_method">{{bookingtypeval}}</span>
                        </div>
                        <div class="col-4 col-md-4 col-sm-4">

                          <div class="btn-box">
                            <a href="#" target="_self" data-toggle="modal" data-target="#paymentmethod"><i
                                class="fas fa-angle-right"></i></a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                </li>
                <li>
                  <div class="process-icon">
                    <img src="https://foodtogodeliveryph.com/booking/assets/images/pickupcontact.jpg" alt="phone" class="w-100 active-hide" />

                  </div>
                  <div class="top">
                    <span class="name">Pickup Contact Info</span>
                    <span class="subname">How can we contact you when we need to pickup?</span>

                  </div>

                  <div class="sec_contact_box" style="cursor: pointer;" (click)="openAddressModalUser()">
                    <div class="row">
                      <div class="col-4 col-md-4 col-sm-4">
                        <span class="txt_checkouttitle">Name: {{fullname}}</span>

                      </div>
                      <div class="col-8 col-md-8 col-sm-8">

                        <button id="openModalUser" [hidden]="true" data-toggle="modal"
                          data-target="#modal_contactinfo"></button>

                        <span class="txt_phonenumber" style="font-size: 13px;">Mobile: &nbsp;</span>
                        <span class="txt_phonenumber">&nbsp;{{phonenumber}}</span>
                        <div class="btn-box2">
                          <a href="#" target="_self" data-toggle="modal" data-target="#modal_contactinfo"><i
                              class="far fa-edit"></i></a>

                        </div>
                      </div>
                    </div>
                  </div>
                  <button id="openAddcardModal" [hidden]="true" data-toggle="modal" data-target="#addcard"></button>
                  <!-- MODAL -->
                </li>
                <li>
                  <div class="process-icon"><img src="https://foodtogodeliveryph.com/booking/assets/images/address1.png" alt="pin"
                      class="w-100 active-hide" />

                  </div>
                  <div class="top">
                    <span class="name">PICKUP LOCATION</span>
                    <span class="subname">Let us know where you want us to pickup your item.</span>
                    <!-- <a class="toggle-btn"  (click)="toggleDelivery()"><i class="fas fa-angle-down"></i></a> -->
                  </div>
                  <input type="button" name="next" class="btnaddnewaddress_co" value="Edit"
                    (click)="openAddressModal()" />

                  <agm-map style="height: 200px;" [latitude]="displaylatitude3" [longitude]="displaylongitude3"
                    [mapDraggable]='false' [zoom]="14" [mapTypeControl]='true' (mapReady)="mapReady($event)">
                    <agm-marker [iconUrl]="usermarker" [latitude]="displaylatitude3" [longitude]="displaylongitude3"
                      [markerDraggable]="false"></agm-marker>
                  </agm-map>
                  <div class="bottom">
                    <fieldset class="pb-0">
                      <div class="form-card">

                        <div class="row">



                          <div class="col-md-12">
                            <div class="form-group">
                              <input type="text" class="form-control" placeholder="Address Room/House no."
                                [(ngModel)]="Address" [ngModelOptions]="{standalone: true}" id="Address">
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                              <input type="text" class="form-control" placeholder="Barangay" [(ngModel)]="barangay"
                                [ngModelOptions]="{standalone: true}" id="barangay">
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                              <input type="text" class="form-control" placeholder="City" [(ngModel)]="city"
                                [ngModelOptions]="{standalone: true}" id="city">
                            </div>
                          </div>


                          <div class="col-md-12" hidden>
                            <div class="form-group nomargbot">
                              <input type="text" class="form-control" placeholder="Note to rider" [(ngModel)]="note"
                                [ngModelOptions]="{standalone: true}" id="note">
                            </div>
                          </div>
                        </div>
                      </div>


                    </fieldset>
                    <button id="openModalLocation2" [hidden]="true" data-toggle="modal"
                      data-target="#pinlocationmap2"></button>





                  </div>
                </li>
                <li>
                  <div class="process-icon">
                    <img src="https://foodtogodeliveryph.com/booking/assets/images/dropoffcontact.png" alt="phone" class="w-100 active-hide" />

                  </div>
                  <div class="top">
                    <span class="name">DropOff Contact Info</span>
                    <span class="subname">How can we contact you when we arrive?</span>

                  </div>

                  <div class="sec_contact_box" style="cursor: pointer;" (click)="openAddressModalUser2()">
                    <div class="row">
                      <div class="col-4 col-md-4 col-sm-4">
                        <span class="txt_checkouttitle">Name: {{fullname2}}</span>

                      </div>
                      <div class="col-8 col-md-8 col-sm-8">

                        <button id="openModalUser2" [hidden]="true" data-toggle="modal"
                          data-target="#modal_contactinfo2"></button>

                        <span class="txt_phonenumber" style="font-size: 13px;">Mobile: &nbsp;</span>
                        <span class="txt_phonenumber">&nbsp;{{phonenumber2}}</span>
                        <div class="btn-box2">
                          <a href="#" target="_self" data-toggle="modal" data-target="#modal_contactinfo2"><i
                              class="far fa-edit"></i></a>

                        </div>
                      </div>
                    </div>
                  </div>
                  <button id="openAddcardModal2" [hidden]="true" data-toggle="modal" data-target="#addcard"></button>
                  <!-- MODAL -->
                </li>
                <li>
                  <div class="process-icon"><img src="https://foodtogodeliveryph.com/booking/assets/images/address2.png" alt="pin"
                      class="w-100 active-hide" />

                  </div>
                  <div class="top">
                    <span class="name">DROPOFF LOCATION</span>
                    <span class="subname">Let us know where you want us to dropoff your item.</span>
                    <!-- <a class="toggle-btn"  (click)="toggleDelivery()"><i class="fas fa-angle-down"></i></a> -->
                  </div>
                  <input type="button" name="next" class="btnaddnewaddress_co" value=" Edit"
                    (click)="openAddressModal2()" />

                  <agm-map style="height: 200px;" [latitude]="displaylatitude2" [longitude]="displaylongitude2"
                    [zoom]="14" [mapDraggable]='false' [mapTypeControl]='true' (mapReady)="mapReady($event)">
                    <agm-marker [iconUrl]="usermarker2" [latitude]="displaylatitude2" [longitude]="displaylongitude2"
                      [markerDraggable]="false"></agm-marker>
                  </agm-map>
                  <div class="bottom">
                    <fieldset class="pb-0">
                      <div class="form-card">

                        <div class="row">



                          <div class="col-md-12">
                            <div class="form-group">
                              <input type="text" class="form-control" placeholder="Address Room/House no."
                                [(ngModel)]="Address2" [ngModelOptions]="{standalone: true}" id="Address2">
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                              <input type="text" class="form-control" placeholder="Barangay" [(ngModel)]="barangay2"
                                [ngModelOptions]="{standalone: true}" id="Barangay2">
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                              <input type="text" class="form-control" placeholder="City" [(ngModel)]="city2"
                                [ngModelOptions]="{standalone: true}" id="City2">
                            </div>
                          </div>


                          <div class="col-md-12" hidden>
                            <div class="form-group nomargbot">
                              <input type="text" class="form-control" placeholder="Note to rider" [(ngModel)]="note2"
                                [ngModelOptions]="{standalone: true}" id="note2">
                            </div>
                          </div>
                        </div>
                      </div>


                    </fieldset>
                    <button id="openModalLocation" [hidden]="true" data-toggle="modal"
                      data-target="#pinlocationmap"></button>





                  </div>
                </li>
                <li>
                  <div class="process-icon"><img src="https://foodtogodeliveryph.com/booking/assets/images/datetime.png" alt="pin"
                      class="w-100 active-hide" />

                  </div>
                  <div class="top">
                    <span class="name">Schedule Pickup</span>
                    <span class="subname">Let us know what date rider need to pickup?</span>
                    <!-- <a class="toggle-btn"  (click)="toggleDelivery()"><i class="fas fa-angle-down"></i></a> -->
                  </div>
                  <div class="row">


                    <div class="col-md-6">
                      ASAP
                      <div class="selection-tick custom-checkbox">
                        <input type="radio" name="scheduletype" (click)="setasap()" [(ngModel)]="scheduletype"
                        [ngModelOptions]="{standalone: true}" [value]="'asap'">
                        <span class="checkmark" (click)="setasap()"></span>
                      </div>
                    </div>
                    <div class="col-md-6">
                      Schedule
                      <div class="selection-tick custom-checkbox" >
                        <input type="radio" name="scheduletype" [value]="'schedule'" (click)="setsked()"  [(ngModel)]="scheduletype"
                        [ngModelOptions]="{standalone: true}">
                        <span class="checkmark"  (click)="setsked()"></span>
                      </div>
                    </div>

                  </div>
                  <div class="row">&nbsp;</div>
                  <div class="row">&nbsp;</div>
                  <div class="row" *ngIf="scheduletype=='schedule'">

                    <div class="col-md-6" >
                      <mat-form-field appearance="fill" class="pb-0"
                        style="width:1px;visibility:hidden;position: absolute;">
                        <input matInput [matDatepicker]="picker" placeholder="Birthday" [(ngModel)]="bookdate" readonly
                          (dateChange)="dateChange(birthday)" [formControl]="date" />

                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                      </mat-form-field>
                      <div class="form-group mb-0 icon-left">


                        <div class="icon" (click)="picker.open()"><i class="fa fa-calendar"></i></div>
                        <input type="text" (click)="picker.open()" class="form-control" placeholder="yyyy-mm-dd"
                          [(ngModel)]="bookdate" (dateChange)="dateChange(bookdate)" [formControl]="date" readonly>


                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="row">
                        <div class="col-3 col-lg-3 col-xl-3">
                          <select class="form-control selectbox" [(ngModel)]="hrsvalue" [ngModelOptions]="{standalone: true}">
                            <option value="{{item}}" *ngFor="let item of hours">{{item}}</option>


                          </select>
                        </div>
                        :
                        <div class="col-3 col-lg-3 col-xl-3">
                          <select class="form-control selectbox" [(ngModel)]="minvalue" [ngModelOptions]="{standalone: true}">
                            <option value="{{item}}" *ngFor="let item of mins">{{item}}</option>

                          </select>
                        </div>
                        :
                        <div class="col-3 col-lg-3 col-xl-3">

                          <select class="form-control selectbox" [(ngModel)]="ampm" [ngModelOptions]="{standalone: true}">
                            <option value="am">AM</option>
                            <option value="pm">PM</option>

                          </select>
                        </div>
                      </div>
                    </div>
                  </div>

                </li>
                <li>
                  <div class="process-icon"><img src="https://foodtogodeliveryph.com/booking/assets/images/info.png" alt="pin"
                      class="w-100 active-hide" />

                  </div>
                  <div class="top">
                    <span class="name">Item Description</span>
                    <span class="subname">Let us know what is your parcel about?</span>

                      <div class="form-group icon-left">
                        <select class="form-control selectbox" [(ngModel)]="parceltype" [ngModelOptions]="{standalone: true}">

                          <option value="Clothing">Clothing</option>
                          <option value="Document">Document</option>
                          <option value="Food">Food</option>
                          <option value="Medicine">Medicine</option>
                          <option value="other">Others</option>
                        </select>
                      </div>
                      <span class="subname">Weight of your item?</span>

                      <div class="form-group icon-left">
                        <select class="form-control selectbox" [(ngModel)]="weight" (change)="changeweight()" [ngModelOptions]="{standalone: true}">

                          <option value="1">1 Kg</option>
                          <option value="2">2 Kg</option>
                          <option value="3">3 Kg</option>
                          <option value="4">4 Kg</option>
                          <option value="5">5 Kg</option>
                          <option value="6">6 Kg</option>
                          <option value="7">7 Kg</option>
                          <option value="8">8 Kg</option>
                          <option value="9">9 Kg</option>
                          <option value="10">10 Kg</option>
                          <option value="11">11 Kg</option>
                          <option value="12">12 Kg</option>
                          <option value="13">13 Kg</option>
                          <option value="14">14 Kg</option>
                          <option value="15">15 Kg</option>
                          <option value="16">16 Kg</option>
                          <option value="17">17 Kg</option>
                          <option value="18">18 Kg</option>
                          <option value="19">19 Kg</option>
                          <option value="20">20 Kg</option>


                        </select>
                      </div>



                  </div>
                  <div class="bottom">
                    <fieldset class="pb-0">
                      <div class="form-card">

                        <div class="row">
                           <div class="col-md-12">
                            <div class="form-group nomargbot">

                              <textarea class="form-control" placeholder="Write Instruction to rider here" [(ngModel)]="instruction"
                              [ngModelOptions]="{standalone: true}">
                                </textarea>
                            </div>
                          </div>
                        </div>
                      </div>
                    </fieldset>
                  </div>








                </li>

              </ul>
            </form>
          </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4">
          <div class="checkout">
            <div class="box">
              <div class="icon"><img [lazyLoad]="'https://foodtogodeliveryph.com/booking/assets/images/receipt.png'"
                  alt="receipt" class="w-100" /></div>
              <div class="text">{{bookingtypeval}}
              </div>
            </div>

            <div class="mb-1 line  overflow-hidden">
              <div class="label text-uppercase float-left">Distance</div>
              <div class="value  float-right">{{distancekm}}</div>
            </div>

            <!-- DELIVERY FEE -->

            <div class="line  overflow-hidden">
              <div class="label text-uppercase float-left">Duration</div>
              <div class="value  float-right">{{durationdrive}}</div>
            </div>
            <div class="line  overflow-hidden">
              <div class="label text-uppercase float-left">Delivery Fee</div>
              <div class="value  float-right">P{{deliveryfee}}</div>
            </div>
            <div class="line  overflow-hidden">
              <div class="label text-uppercase float-left">Service Fee</div>
              <div class="value  float-right">P{{cartSubTotal}}</div>
            </div>

            <div class="box border-none">
              <div class="mb-1 overflow-hidden total">
                <div class="label text-uppercase float-left">Total To Pay</div>

                <div class="value  float-right">P{{cartGrandTotal}}</div>

              </div>



              <div class="btn-box">
                By pressing the "Book Now" button below, I agree with the Privacy Policy and Terms and Conditions of FoodToGo Philippines.

              </div>
              <div class="btn-box">

                <a style="cursor: pointer;" (click)="booknow()">Book Now</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal Pin Location-->
  <div class="modal fade" id="pinlocationmap" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body modalbodypinlocation">
          <button type="button" class="close btnclosemodal2" id="closeModalLocation" (click)="closeLocationModal()"
            data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>

          <h2 class="title_modalcheckout2 text-center">Set your Pickup location?</h2>
          <!-- START -->
          <form id="msform">
            <!-- progressbar -->
            <ul id="progressbar" hidden>
              <li class="active" id="ic_select_address"><strong>Address</strong></li>

            </ul> <!-- fieldsets -->

            <fieldset class="pb-0">
              <div class="form-card">
                <form>
                  <div class="modal_search_sec">
                    <input type="text" class="form-control search_location" (keydown.enter)="$event.preventDefault()"
                      placeholder="Enter your exact location" autocorrect="off" autocapitalize="off" id="searchlocation"
                      spellcheck="off" type="text" #search>
                    <i class="fa fa-map-pin location_icon" aria-hidden="true"></i>
                  </div>
                  <h3 class="text-left mb-1" style="cursor: pointer;color: brown;" (click)="setCurrentLocation()"><i
                      class="fa fa-crosshairs" aria-hidden="true"></i> Current Location</h3>

                  <div class="pinlocation_map">
                    <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom" [mapTypeControl]='true'
                      (centerChange)="centerChange($event)" (boundsChange)="boundsChange($event)"
                      (mapReady)="mapReady($event)">
                      <agm-marker [iconUrl]="usermarker" [latitude]="latitude" [longitude]="longitude" [markerDraggable]="true"
                        (dragEnd)="markerDragEnd($event)"></agm-marker>
                    </agm-map>


                  </div>

                </form>
              </div>
              <!-- <input type="button" (click)="prevStepAddress()" name="previous" class="btn previous black-btn action-button-previous" value="Previous" /> -->
              <div class="text-center btnsubmitaddress">
                <input type="button" name="next" class="btn next red-btn action-button" data-dismiss="modal"
                  style="width:80%" value="Submit" (click)="saveloc1()"/>
              </div>

            </fieldset>


          </form>
          <!-- END -->
        </div>
      </div>
    </div>
  </div>
  <!-- Modal Pin Location-->
  <div class="modal fade" id="pinlocationmap2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body modalbodypinlocation">
          <button type="button" class="close btnclosemodal2" id="closeModalLocation" (click)="closeLocationModal()"
            data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>

          <h2 class="title_modalcheckout2 text-center">Set your dropoff location?</h2>
          <!-- START -->
          <form id="msform">
            <!-- progressbar -->
            <ul id="progressbar" hidden>
              <li class="active" id="ic_select_address"><strong>Address</strong></li>

            </ul> <!-- fieldsets -->

            <fieldset class="pb-0">
              <div class="form-card">
                <form>
                  <div class="modal_search_sec">
                    <input type="text" class="form-control search_location" (keydown.enter)="$event.preventDefault()"
                      placeholder="Enter your exact location" autocorrect="off" autocapitalize="off"
                      id="searchlocation2" spellcheck="off" type="text" #search>
                    <i class="fa fa-map-pin location_icon" aria-hidden="true"></i>
                  </div>
                  <h3 class="text-left mb-1" style="cursor: pointer;color: brown;" (click)="setCurrentLocation()"><i
                      class="fa fa-crosshairs" aria-hidden="true"></i> Current Location</h3>

                  <div class="pinlocation_map">
                    <agm-map [latitude]="latitude2" [longitude]="longitude2" [zoom]="zoom" [mapTypeControl]='true'
                      (centerChange)="centerChange2($event)" (boundsChange)="boundsChange2($event)"
                      (mapReady)="mapReady2($event)">
                      <agm-marker [iconUrl]="usermarker2" [latitude]="latitude2" [longitude]="longitude2" [markerDraggable]="true"
                        (dragEnd)="markerDragEnd2($event)"></agm-marker>
                    </agm-map>


                  </div>

                </form>
              </div>
              <!-- <input type="button" (click)="prevStepAddress()" name="previous" class="btn previous black-btn action-button-previous" value="Previous" /> -->
              <div class="text-center btnsubmitaddress">
                <input type="button" name="next" class="btn next red-btn action-button" data-dismiss="modal"
                  style="width:80%" value="Submit"  (click)="saveloc2()"/>
              </div>

            </fieldset>


          </form>
          <!-- END -->
        </div>
      </div>
    </div>
  </div>

  <!-- MODAL FOR CONTACT INFO -->
  <div class="modal fade" id="modal_contactinfo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body modalbodypinlocation">
          <div class="btnbutton_modals">
            <a href="" target="_self" data-dismiss="modal" class="btn_modal_cancel">Cancel</a>
            <a href="" target="_self" class="btn_modal_apply" data-dismiss="modal" (click)="applycontact1()">Apply</a>
          </div>
          <h5 class="title_modalcheckout text-center">Pickup Contact Info</h5>
          <div class="bottom">
            <div class="checkout_infos row">
              <div class="col-md-6">
                <div class="form-group icon-left">
                  <div class="icon"><img src="https://foodtogodeliveryph.com/booking/assets/images/icon-user-grey.png"
                      alt="user" class="w-100" /></div>
                  <input type="text" class="form-control" placeholder="Full Name" id="fullname" [(ngModel)]="fullnameval"
                    [ngModelOptions]="{standalone: true}">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group icon-left">
                  <div class="icon"><img src="https://foodtogodeliveryph.com/booking/assets/images/icon-phone-grey.png"
                      alt="user" class="w-100" /></div>
                  <input type="text" class="form-control" placeholder="Mobile Number" id="phonenumber"
                    [(ngModel)]="phonenumberval" [ngModelOptions]="{standalone: true}">
                </div>
              </div>


            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="modal_contactinfo2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body modalbodypinlocation">
          <div class="btnbutton_modals">
            <a href="" target="_self" data-dismiss="modal" class="btn_modal_cancel">Cancel</a>
            <a href="" target="_self" class="btn_modal_apply" data-dismiss="modal" (click)="applycontact2()">Apply</a>
          </div>
          <h5 class="title_modalcheckout text-center">DropOff Contact Info</h5>
          <div class="bottom">
            <div class="checkout_infos row">
              <div class="col-md-6">
                <div class="form-group icon-left">
                  <div class="icon"><img src="https://foodtogodeliveryph.com/booking/assets/images/icon-user-grey.png"
                      alt="user" class="w-100" /></div>
                  <input type="text" class="form-control" placeholder="Full Name" id="fullname2" [(ngModel)]="fullname2val"
                    [ngModelOptions]="{standalone: true}">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group icon-left">
                  <div class="icon"><img src="https://foodtogodeliveryph.com/booking/assets/images/icon-phone-grey.png"
                      alt="user" class="w-100" /></div>
                  <input type="text" class="form-control" placeholder="Mobile Number" id="phonenumber2"
                    [(ngModel)]="phonenumber2val" [ngModelOptions]="{standalone: true}">
                </div>
              </div>


            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="addcard" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body modalbodypinlocation">
          <div class="btnbutton_modals">
            <a href="" target="_self" data-dismiss="modal" class="btn_modal_cancel">Cancel</a>
            <a href="" target="_self" class="btn_modal_apply" (click)="selectbook()" data-dismiss="modal">Apply</a>
          </div>
          <h5 class="title_modalcheckout text-center">Select Booking type</h5>
          <div class="bottom">
            <div class="checkout_infos row">
              <div class="col-md-6">
                <div class="form-group icon-left">
                  <select class="form-control selectbox" [(ngModel)]="bookingtype" [ngModelOptions]="{standalone: true}">

                    <option value="pabili">Pabili</option>
                    <option value="padala">Padala</option>
                    <option value="cashin">Pa Gcash/Paymaya</option>
                    <option value="pahatid">Pahatid</option>
                    <option value="pabayad">Pabayad</option>
                    <option value="epalengke">E-palengke</option>
                    <option value="pasurprise">Pasurprise</option>
                    <option value="bookrider">Book-a-rider</option>
                  </select>
                </div>
              </div>



            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</main>
<app-footer ></app-footer>
<div>
  <img src="https://foodtogodeliveryph.com/booking/assets/images/footer2.png" style="width: 100%;" alt="green dot">
</div>

